<% layout('layouts/boilerplate')%>
<h1>Reports</h1>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Columbia Univerity Assignments</h5>
                <p class="card-text">
                        <p>Here is the assignment template I used for all my written assignments at Columbia University.<br>
                        There are also numerous graphs and figures designed for various courses.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Assignment Template</div>
    <div class="row">
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639372416/joeyhougallery/reports/IMG_8757_bkgvdc.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639372417/joeyhougallery/reports/IMG_8758_nabudq.jpg" class="img-fluid">
            </div>
        </div>            
        <div class="row text-center">
            <p class="card-text">
                <p>This cover is designed in early 2020 using Microsoft Publisher.</p>
                <p>There is also the Chinese translation of the course title vertically placed on the right with my Chinese name at the bottom.</p></small>
            </p>
        </div>
    </div>
</div>
