<% layout('layouts/boilerplate')%>
<h1>Reports</h1>
<div class="card mb-3 text-white bg-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title">Featured Columbia University Assignment</h5>
                <p class="card-text">
                        <p>Here is the featured coursework I have finished at Columbia University.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Descriptive Hungarian Grammer - Final Paper & Presentation Handout</div>
    <div class="row text-center">
        <div class="row">
            <div class="col-5">
                <p class="card-text text-secondary">
                  <small class="text-muted"><p>PAGES</p></small>
                </p>
            </div>
            <div class="col-2">
                <p class="card-text text-primary">
                  <small class="text-muted"><p>DOWNLOAD</p></small>
                </p>
            </div>
            <div class="col-5">
                <p class="card-text text-secondary">
                  <small class="text-muted"><p>COMMENTS</p></small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div id="carouselIndicators5" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselIndicators5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselIndicators5" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselIndicators5" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselIndicators5" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639376152/joeyhougallery/reports/Hungarian/IMG_8767_jdqdw4.jpg" class="d-block w-100">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639376161/joeyhougallery/reports/Hungarian/IMG_8768_cwlfmh.jpg" class="d-block w-100">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639376171/joeyhougallery/reports/Hungarian/IMG_8769_q5dsry.jpg" class="d-block w-100">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639376185/joeyhougallery/reports/Hungarian/IMG_8770_tm7iji.jpg" class="d-block w-100">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators5" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators5" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-2">
                <a class="btn btn-lg btn-primary align-middle" href="https://40a431a6-5c85-45f3-b955-58c8e40d7db4.filesusr.com/ugd/6a9383_2369a86f38114605a9001056f4ca8b75.pdf" role="button">Download Volume of CityU</a>
            </div>
            <div class="col-5">
              <p class="card-text">
                <small class="text-muted"><p>This is the handout I gave to my instructor and my classmates when doing the presentation on the linguistics concentration course "Descriptive Hungarian Grammar" in the Spring 2020 term.<br>
                The presentation was about choosing a language and comparing it with Hungarian, the main focus of the course. I chose Mandarin Chinese as my target and written the handout with phonetics, semantics, and grammar comparisons.<br>
                All sentences are labeled in either three or four ways: Hungarian/Chinese (with Pinyin), word meanings, and sentence meanings.<br>
                The file was written and compiled by LaTeX.</p></small>
              </p>
            </div>
        </div>            
    </div>
  </div>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Columbia Univerity Assignments</h5>
                <p class="card-text">
                        <p>Here is the assignment template I used for all my written assignments at Columbia University.<br>
                        There are also numerous graphs and figures designed for various courses.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Assignment Template</div>
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639372416/joeyhougallery/reports/IMG_8757_bkgvdc.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639372417/joeyhougallery/reports/IMG_8758_nabudq.jpg" class="img-fluid">
                </div>
            </div>
        </div>            
        <div class="row text-center">
            <p class="card-text">
                <p>This cover is designed in early 2020 using Microsoft Publisher.</p>
                <p>There is also the Chinese translation of the course title vertically placed on the right with my Chinese name at the bottom.</p></small>
            </p>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Course 1 - Computer Science Theory</div>
    <div class="row">
        <div class="row text-center">
            <p class="card-text">
                <p>These pages with figures are selected from the computer science major course "Computer Science Theory" provided in the Spring 2020 term.<br>
                All figures were drawn by Microsoft Word and the file was written and compiled by LaTeX.</p></small>
            </p>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373173/joeyhougallery/reports/CS%20Theory/IMG_8763_hjk0om.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373178/joeyhougallery/reports/CS%20Theory/%E7%85%A7%E7%89%87_2021-12-13_12.25.18_%E4%B8%8A%E5%8D%88_wunz16.jpg" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373166/joeyhougallery/reports/CS%20Theory/IMG_8760_jdlaye.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373169/joeyhougallery/reports/CS%20Theory/IMG_8762_ozmopo.jpg" class="img-fluid">
                </div>
            </div>
        </div> 
        <div class="row text-center">
            <p class="card-text">
                <p>Pages of problems are selected from different homework and may only show parts of my solutions.</p></small>
            </p>
        </div>       
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Course 2 - Computer Science Theory</div>
    <div class="row">
        <div class="row text-center">
            <p class="card-text">
                <p>These pages are selected from the math course "Ordinary Differential Equations" provided in the Summer 2020 term.<br>
                The file was written and compiled by LaTeX.</p></small>
            </p>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639375168/joeyhougallery/reports/ODE/IMG_8765_n7zgq7.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <div class="p-3 border bg-light">
                    <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639375176/joeyhougallery/reports/ODE/IMG_8766_syxy0a.jpg" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p class="card-text">
                <p>Pages of problems are selected from different homework and may only show parts of my solutions.</p></small>
            </p>
        </div>       
    </div>
</div>
