<% layout('layouts/boilerplate')%>
<h1>Reports</h1>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Columbia Univerity Assignments</h5>
                <p class="card-text">
                        <p>Here is the assignment template I used for all my written assignments at Columbia University.<br>
                        There are also numerous graphs and figures designed for various courses.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Assignment Template</div>
    <div class="row">
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639372416/joeyhougallery/reports/IMG_8757_bkgvdc.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639372417/joeyhougallery/reports/IMG_8758_nabudq.jpg" class="img-fluid">
            </div>
        </div>            
        <div class="row text-center">
            <p class="card-text">
                <p>This cover is designed in early 2020 using Microsoft Publisher.</p>
                <p>There is also the Chinese translation of the course title vertically placed on the right with my Chinese name at the bottom.</p></small>
            </p>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Course 1 - Computer Science Theory</div>
    <div class="row">
        <div class="row text-center">
            <p class="card-text">
                <p>These pages with figures are selected from the computer science major course "Computer Science Theory" provided in the Spring 2020 term.</p></small>
            </p>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373173/joeyhougallery/reports/CS%20Theory/IMG_8763_hjk0om.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373178/joeyhougallery/reports/CS%20Theory/%E7%85%A7%E7%89%87_2021-12-13_12.25.18_%E4%B8%8A%E5%8D%88_wunz16.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373166/joeyhougallery/reports/CS%20Theory/IMG_8760_jdlaye.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1639373169/joeyhougallery/reports/CS%20Theory/IMG_8762_ozmopo.jpg" class="img-fluid">
            </div>
        </div> 
        <div class="row text-center">
            <p class="card-text">
                <p>Pages of problems are selected from different homework and may only show parts of my solutions.</p></small>
            </p>
        </div>       
    </div>
</div>
