<% layout('layouts/boilerplate')%>
<h1>Reports</h1>
<div class="card mb-3 text-white bg-success text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title">Video Essay & Introduction</h5>
                <p class="card-text">
                        <p>Welcome to my video section!<br>
                        This is a video essay for master degree programs. It is also a nice 2-minute introduction video!</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Video Essay</div>
    <div class="row">
        <div class="col-md-9">
            <iframe class="youtube-player" type="text/html" width="100%" height="600"
            src="https://www.youtube.com/embed/Xz08rpOaU0M?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <h5 class="card-title">Video Essay - Jiangtian (Joey) Hou 侯江天</h5>
                <p class="card-text">A two minutes long introduction video</p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Columbia & CityU HK JBDP Pre-departure Orientation Session</h5>
                <p class="card-text">
                        <p>Every April, CityU holds a pre-departure orientation session for new-admitted students of the CityU-Columbia Joint Bachelors Degree Program.<br>
                            I has initiated and directed two episodes of videos for the session.<br>
                            These videos include several commonly asked questions from new-admitted students along with multiple streetviews and life settings of Columbia and New York City.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Year 2021 [Episode 2]</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/8d3AIE3-kQA?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 2]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                <p class="card-text">
                    <small class="text-muted"><p>The questions included in this video:</p>
                        <p>(1) Can you show me around the campus?<br>
                            (2) How can we deal with pressure at Columbia?<br>
                            (3) What should I do if my Columbia peers are better that me?</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Year 2020 [Episode 1]</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/DNJFN6HK7MQ?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 1]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2020</p>
                <p class="card-text">
                    <small class="text-muted"><p>The questions included in this video:</p>
                        <p>(1) How many years do we need to complete our studies?<br>
                            (2) How are the courses in the core curriculum different from the GE courses at CityU?<br>   
                            (3) How is the learning experience with military veterans in the School of General Studies?<br>   
                            (4) What do you like and dislike the most about Columbia?<br>
                            (5) How much money are we going to pay every month on average?</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Columbia & CityU HK JBDP Pre-departure Orientation Session Video Clips</h5>
                <p class="card-text">
                    <p>These video clips are from the Episode 2 of the session video in 2021.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3" >
            <div class="card-header">Year 2021 - 1</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/4qwf-kDn4t8?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Columbia Libraries Tour</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">         
        <div class="card mb-3" >
            <div class="card-header">Year 2021 - 2</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/bR_HLhUsh4U?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Columbia Neighborhood Round Trip</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" >
            <div class="card-header">Year 2021 - 3</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/vBYp-yZe57A?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">How can I deal with pressure at Columbia?</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" >
        <div class="card-header">Year 2021 - 4</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/aNxRQIW2Jjs?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">What should I do if my Columbia peers are better than me?</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">School Projects</h5>
                <p class="card-text">
                    <p>These videos are related to my school projects and they were shown to my instructors and classmates.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Columbia HUMA 1123 Masterpieces of Western Music</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/hPJm2Xb1Wd0?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">The Visualization of MUSIC</h5>
                <p class="card-text">Columbia Music Humanities Interdisciplinary Creative Project</p>
                <p class="card-text">
                    <small class="text-muted"><p>This is a Just Shapes & Beats (a video game) inspired video for the requirement of the Interdisciplinary Creative Project of Masterpieces of Western Music, a music humanities course provided at Columbia University.</p>
                        <p>- How did I organize/create the animations?<br>
                        I used Adobe Animate CC 2020 to make these flash videos. All objects are made and animated independently. Most of them are designed based on personal understandings (some parts, such as the usage of colors and particular objects, are references to the original game). For every music piece, considerations have been put into the shape choices.</p>
                        <p>- Why did I choose the songs/pieces I animated?<br>
                        All songs I used are from the course syllabus. Each of them represents an idea from the music history, including “the Medieval Era”, “the Classical Era”, and “European Modernism”. I planned to step out from the field of techno music used by the original game and to detail music aspects, such as the mood, instruments, and texture, other than pure beats. Using new types of music will avoid the existing knowledge and push me into the challenge of applying what has been taught in class.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3" >
            <div class="card-header">Columbia ENGL 1010 University Writing</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="300"
                    src="https://nv.instructuremedia.com/fetch/QkFoYkIxc0hhUVQ1aGVFUE1Hd3JCNHN5cVdFPS0tN2Q3NTM4YWYyNWJlZjFhM2ExMmRlZmU1YjlhMzVmYzY2MTljMzIzYQ.mp4?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Welcome Video</h5>
                        <p class="card-text">A very short welcome video to meet my new fellows and teacher</p>
                        <p class="card-text">
                            <small class="text-muted"><p>This video is very similar to the next video. The major difference is it's in English instead of Cantonese.</p></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" >
            <div class="card-header">Columbia/New York University CANT 2101 Intermediate Cantonese I</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="300"
                    src="http://www.youtube.com/embed/2tsdN_dXVbY?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Personal Introduction Video</h5>
                        <p class="card-text">A very short personal introduction video to meet my new fellows and teacher</p>
                        <p class="card-text">
                            <small class="text-muted"><p>I was using very basic Cantonese in this video because of the level of language usage for this course is not very high.</p></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>    
    </div> 
</div>
<div class="card mb-3 border-success text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-success">Creative Projects</h5>
                <p class="card-text">
                    <p>Here are some creative (and possibly weird) videos that I made just for fun!</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">2021 Birthday</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/k5hzYdMVpDc?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">DPRK School Children Rhythmic Exercises</h5>
                <p class="card-text">Joey/NYC Ver.</p>
                <p class="card-text">
                    <small class="text-muted"><p>Joey's 2️2nd birthday should be very stupid and Joe-ied! Play around New York City and do the rhythmic exercises (...what?)</p>
                        <p>Has been "The Prince of School Exercises" for six years since 10 years ago<br>
                        (Actually, I was just the leader guy of school exercises at middle/high school. Now I barely have any sports ability after four years of not doing exercise!</p>
                        <p>Performed a set of School Children Rhythmic Exercises from DPRK on a class meeting in 10th grade, strangely<br>
                        (It was just because of acting cool</p>
                        <p>Staying in NYC now; studying; not being able to return home for a while<br>
                        Thinking about rhythmic exercises, the class meeting in high school, and New York City which has been lacking tourists since last year...</p>
                        <p>Why not just combine everything and:<br>
                        "Chinese Student + DPRK Rhythmic Exercises @ Manhattan NYC"!</p>
                        <p>Do stay healthy and safe during the spread of COVID-19. Welcome to visit NYC for sightseeing/studying when the situation becomes better!</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">2018 Summer</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/5hMr-LyMotk?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Moving to A New Dormitory Room before Summer Break</h5>
                <p class="card-text">A vlog-style video about me trying to pack up everything before summer break</p>
                <p class="card-text">
                    <small class="text-muted"><p>I didn't even realize this type of video should be called as "vlog" at that time.</p>
                    <p>All background music belongs to Nintendo.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">2018 Summer</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/Wx0P7m_K7Ss?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Random Happens</h5>
                <p class="card-text">Random things when trying to clean the marks on a whiteboard.</p>
                <p class="card-text">
                    <small class="text-muted"><p>How can you imagine that it took so long to clean some marks on a whiteboard?</p></small>
                </p>
            </div>
        </div>
    </div>
</div>