<% layout('layouts/boilerplate')%>
<h1>Arts</h1>
<div class="card mb-3" >
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Under Construction</h5>
                <p class="card-text">Under Construction</p>
                <p class="card-text">
                    <small class="text-muted">Under Construction</small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">School Projects</h5>
                <p class="card-text">
                    <p>These arts are related to my school projects and they were shown to my instructors and classmates.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Columbia HUMA 1121 Masterpieces of Western Art</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/hPJm2Xb1Wd0?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Chinese Characters & Western Art</h5>
                <p class="card-text">Columbia Art Humanities Individual Creative Project</p>
                <p class="card-text">
                    <small class="text-muted"><p>This is a set of paintings drawn independently for the Individual Creative Project of Masterpieces of Western Art, an art humanities course provided at Columbia University.</p>
                        <p>This creative project contains four paintings to convey the first impressions on a few essential ideas in the history of western art, including the Renaissance, Impressionism, Modernism, and Cubism. Each painting uses Chinese characters, which are the translation of the corresponding idea, to depict specific art ideas’ critical characteristics. The English version of the art idea used and its Chinese translations, both in the traditional and simplified form, are included in all four paintings. The whole project shows not only new understandings towards the western art history from classes but also the idea of participating in a diversified and multicultural world by applying western art ideas on Chinese writing systems. All four paintings are designed and drawn independently by using Procreate, a designing iPad app.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>