<% layout('layouts/boilerplate')%>
<h1>Videos</h1>
<div class="card mb-3" >
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="640" height="385"
            src="http://www.youtube.com/embed/XpAO-4L1CNc?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Lalala</h5>
                <p class="card-text">Hehehe</p>
                <p class="card-text">
                    <small class="text-muted">woohoo</small>
                </p>
            </div>
        </div>
    </div>
</div>