<% layout('layouts/boilerplate')%>
<h1>Videos</h1>
<div class="card mb-3" >
    <div class="row">
        <div class="card-body">
            <h5 class="card-title">olumbia & CityU HK JBDP Pre-departure Orientation Session</h5>
            <p class="card-text">
                    <p>Every April, CityU holds a pre-departure orientation session for new-admitted students of the CityU-Columbia Joint Bachelors Degree Program. I has initiated and directed two episodes of videos for the session.<br>
                        These videos include several commonly asked questions from new-admitted students along with multiple streetviews and life settings of Columbia and New York City.</p></small>
            </p>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Year 2021 [Episode 2]</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="640" height="385"
            src="http://www.youtube.com/embed/8d3AIE3-kQA?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 2]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                <p class="card-text">
                    <small class="text-muted"><p>Questions included in the videos:</p>
                        <p>(1) Can you show me around the campus?<br>
                            (2) How can we deal with pressure at Columbia?<br>
                            (3) What should I do if my Columbia peers are better that me?</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Year 2020 [Episode 1]</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="640" height="385"
            src="http://www.youtube.com/embed/DNJFN6HK7MQ?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 1]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2020</p>
                <p class="card-text">
                    <small class="text-muted"><p>Questions included in the videos:</p>
                        <p>(1) How many years do we need to complete our studies?<br>
                            (2) How are the courses in the core curriculum different from the GE courses at CityU?<br>   
                            (3) How is the learning experience with military veterans in the School of General Studies?<br>   
                            (4) What do you like and dislike the most about Columbia?<br>
                            (5) How much money are we going to pay every month on average?</p></small>
                </p>
            </div>
        </div>
    </div>
</div>