<% layout('layouts/boilerplate')%>
<h1>Videos</h1>
<div class="card mb-3" >
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="640" height="385"
            src="http://www.youtube.com/embed/8d3AIE3-kQA?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 2]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                <p class="card-text">
                    <small class="text-muted"><p>Year 2021 [Episode 2]</p>

                        (1) Can you show me around the campus?
                        
                        (2) How can we deal with pressure at Columbia?
                        
                        (3) What should I do if my Columbia peers are better that me?</small>
                </p>
            </div>
        </div>
    </div>
</div>