<% layout('layouts/boilerplate')%>
<h1>Videos</h1>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Columbia & CityU HK JBDP Pre-departure Orientation Session</h5>
                <p class="card-text">
                        <p>Every April, CityU holds a pre-departure orientation session for new-admitted students of the CityU-Columbia Joint Bachelors Degree Program.<br>
                            I has initiated and directed two episodes of videos for the session.<br>
                            These videos include several commonly asked questions from new-admitted students along with multiple streetviews and life settings of Columbia and New York City.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Year 2021 [Episode 2]</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/8d3AIE3-kQA?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 2]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                <p class="card-text">
                    <small class="text-muted"><p>Questions included in the videos:</p>
                        <p>(1) Can you show me around the campus?<br>
                            (2) How can we deal with pressure at Columbia?<br>
                            (3) What should I do if my Columbia peers are better that me?</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Year 2020 [Episode 1]</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/DNJFN6HK7MQ?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 1]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2020</p>
                <p class="card-text">
                    <small class="text-muted"><p>Questions included in the videos:</p>
                        <p>(1) How many years do we need to complete our studies?<br>
                            (2) How are the courses in the core curriculum different from the GE courses at CityU?<br>   
                            (3) How is the learning experience with military veterans in the School of General Studies?<br>   
                            (4) What do you like and dislike the most about Columbia?<br>
                            (5) How much money are we going to pay every month on average?</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title">Columbia & CityU HK JBDP Pre-departure Orientation Session Video Clips</h5>
                <p class="card-text">
                    <p>These video clips are from the Episode 2 of the session video in 2021.</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3" >
            <div class="card-header">Year 2021 - 1</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/4qwf-kDn4t8?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Columbia Libraries Tour</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">         
        <div class="card mb-3" >
            <div class="card-header">Year 2021 - 2</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/bR_HLhUsh4U?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">Columbia Neighborhood Round Trip</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" >
            <div class="card-header">Year 2021 - 3</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/vBYp-yZe57A?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">How can I deal with pressure at Columbia?</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" >
        <div class="card-header">Year 2021 - 4</div>
            <div class="row">
                <div class="col">
                    <iframe class="youtube-player" type="text/html" width="100%" height="200"
                    src="http://www.youtube.com/embed/aNxRQIW2Jjs?html5=1" frameborder="0">
                    </iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">What should I do if my Columbia peers are better than me?</h5>
                        <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Creative Projects</h5>
                <p class="card-text">
                    <p>Here are some creative (and possibly weird) videos that I made just for fun!</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">Year 2021 [Episode 2]</div>
    <div class="row">
        <div class="col-md-6">
            <iframe class="youtube-player" type="text/html" width="100%" height="400"
            src="http://www.youtube.com/embed/k5hzYdMVpDc?html5=1" frameborder="0">
            </iframe>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">Joey's Question & Answer [Episode 2]</h5>
                <p class="card-text">Columbia & CityU HK JBDP Pre-departure Orientation Session 2021</p>
                <p class="card-text">
                    <small class="text-muted"><p>Joey's 2️2nd birthday should be very stupid and Joe-ied! Play around New York City and do the rhythmic exercises (...what?)</p>
                        <p>Has been "The Prince of School Exercises" for six years since 10 years ago<br>
                        (Actually, I was just the leader guy of school exercises at middle/high school. Now I barely have any sports ability after four years of not doing exercise!</p>
                        <p>Performed a set of School Children Rhythmic Exercises from DPRK on a class meeting in 10th grade, strangely<br>
                        (It was just because of acting cool</p>
                        <p>Staying in NYC now; studying; not being able to return home for a while<br>
                        Thinking about rhythmic exercises, the class meeting in high school, and New York City which has been lacking tourists since last year...</p>
                        <p>Why not just combine everything and:<br>
                        "Chinese Student + DPRK Rhythmic Exercises @ Manhattan NYC"!</p>
                        <p>Do stay healthy and safe during the spread of COVID-19. Welcome to visit NYC for sightseeing/studying when the situation becomes better!</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
