<% layout('layouts/boilerplate')%>
<h1>Websites</h1>
<div class="card mb-3 text-white bg-dark text-center">
  <div class="row">
      <div class="col">
          <div class="card-body">
              <h3 class="card-title">Official Website of The Black Box Institute</h5>
              <p class="card-text">
                  <p>The Black Box Institute is a Canadian boutique advisory company that is based in Toronto, Canada.</p></small>
                  <p>I initiated and completed the full website in one week and got positive feedback from supervisors and partners.</p></small>
                  <p></p>
                  <p>This website is now active on <a href="https://www.theblackboxinstitute.com/">The Black Box Institute</a>.</p></small>
              </p>
          </div>
      </div>
  </div>
</div>
<div class="card mb-3" >
  <div class="card-header"></div>
  <div class="row">
      <div class="col">
          <div class="row">
              <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659501/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.36.02_qbr2dx.png" class="img-fluid">
          </div>
          <div class="row">
              <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659501/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.37.30_qnazeo.png" class="img-fluid">
          </div>
      </div>
      <div class="col">
          <div class="row">
              <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659501/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.36.45_s3i8nk.png" class="img-fluid">
          </div>
          <div class="row">
              <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659501/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.37.16_nbjxwi.png" class="img-fluid">
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="row">
            <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659501/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.36.35_aacpfs.png" class="img-fluid">
        </div>
        <div class="row">
            <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659502/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.37.57_nwzdgs.png" class="img-fluid">
        </div>
    </div>
    <div class="col">
        <div class="row">
            <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659502/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.37.47_d3joal.png" class="img-fluid">
        </div>
        <div class="row">
            <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1663659502/joeyhougallery/websites/%E6%88%AA%E5%B1%8F2022-09-20_%E4%B8%8A%E5%8D%8812.36.12_e7gmir.png" class="img-fluid">
        </div>
    </div>
</div>
</div>