<% layout('layouts/boilerplate')%>
<h1>Posters</h1>
<div class="card text-white text-center bg-primary mb-3">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Wall Newspaper / Bulletin Boards</h5>
                <p class="card-text">
                    <p>I was in charge of designing and maintaining class wall newspaper/bulletin board in middle school and high school for over 6 years.<br>
                        Some of the designs are displayed here (a lot of the other designs are lost because there aren't pictures left).</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">High School 1</div>
    <div class="row">
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1638407917/joeyhougallery/posters/IMG_0949_wm7cwx.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1638407917/joeyhougallery/posters/IMG_0950_w7fhod.jpg" class="img-fluid">
            </div>
        </div>            
        <div class="row text-center">
            <p class="card-text">
                <p>A career planning themed bulletin board (background) design.</p>
                <p>Left: "TARGET; Which college do you want to apply?"<br>
                Right: "DREAM; What type of work do you want to do?"</p></small>
            </p>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">High School 2</div>
    <div class="row">
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1638407917/joeyhougallery/posters/IMG_0953_vuilc2.jpg" class="img-fluid">
            </div>
        </div>            
        <div class="row text-center">
            <p class="card-text">
                <p>A friendship/classmates themed bulletin board (background) design.</p>
                <p>I was in Class 21 so that's why there's the number "21" on the star.</p></small>
            </p>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">High School 3</div>
    <div class="row">
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1638407917/joeyhougallery/posters/IMG_0955_s8ia2h.jpg" class="img-fluid">
            </div>
        </div>            
        <div class="row text-center">
            <p class="card-text">
                <p>A Gao Kao (Chinese National College Entrance Examination) themed bulletin board (background) design.</p>
                <p>This was kept for a whole semester in the last year of high school.<br>
                Text: "Fighting for Gao Kao!"</p></small>
            </p>
        </div>
    </div>
</div>