<% layout('layouts/boilerplate')%>
<h1>Handbooks</h1>
<h1>Posters</h1>
<div class="card mb-3 border-primary text-center">
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h3 class="card-title text-primary">Admission-pedia</h5>
                <p class="card-text text-start">
                    <p>In the first semester at Columbia, Mainland Chinese students of cohort 2017 (who entered Columbia in 2019) cooperated and composed two volumes of "Admission-Pedia  (Admission Encyclopedia)". "Admission-Pedia" has the main steps of preparation before and after the application of Joint Bachelor's Degree Program between Columbia and City University of Hong Kong (CityU).<br>
                        It contains the necessary introduction and detailed explanations of the application process. Besides, there are comments and tips from students. It can serve as a reference for interested students and parents.</p>
                    <p>I initiated the preparation of "Admission-Pedia". It is completed by me with help from Mainland Chinese students from the same cohort: Yijie Fang, Wenda Li, Qimeng Shi, Zhenfeng Tu, Hanyi Wang.</p>
                    <p>It is published with being revised and supported by CityU College of Business. The Simplified Chinese version of "Application Encyclopedia" is also published on the official WeChat account of Chinese Students and Scholars Association of CityU (CSSAUG).</p></small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" >
    <div class="card-header">High School 1</div>
    <div class="row">
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1638407917/joeyhougallery/posters/IMG_0949_wm7cwx.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="https://res.cloudinary.com/joey-hou-homepage/image/upload/v1638407917/joeyhougallery/posters/IMG_0950_w7fhod.jpg" class="img-fluid">
            </div>
        </div>            
        <div class="row text-center">
            <p class="card-text">
                <p>A career planning themed bulletin board (background) design.</p>
                <p>Left: "TARGET; Which college do you want to apply?"<br>
                Right: "DREAM; What type of work do you want to do?"</p></small>
            </p>
        </div>
    </div>
</div>