<% layout('layouts/boilerplate')%>
<h1>Poster List</h1>
<div class="card mb-3" >
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Lalala</h5>
                <p class="card-text">Hehehe</p>
                <p class="card-text">
                    <small class="text-muted">woohoo</small>
                </p>
            </div>
        </div>
    </div>
</div>